In [1]:
import re
import emoji
import pandas as pd

In [2]:
data_dir_1 = "../Original Data"
data_dir_2 = "../No trans Data"

In [ ]:
train = pd.read_csv(data_dir_1+'/train.csv')
train.head()

     id                                               text  label
0  3268  Indha ariya kandupidippin moolam neenga solla ...      0
1  6239       ┬а@vijayakumarp7959┬а unmai therincha nee pesu      0
2  5859  Inga erukka yella dev... boys  vadakkan vadakk...      1
3  3519  рокрпАроХро╛ро░ро┐ рокро┐ро░роЪро╛роирпНродрпН роХро┐ро╖рпЛро░ро┐роЯроорпН роХрпКроЯрпБродрпНрод 350 роХрпЛроЯро┐ропрпИ ...      1
4  5136       Mumbai Bangalore la 80% percentage outsiders      1

In [4]:
dev = pd.read_csv(data_dir_1+'/dev.csv')
dev.head()

     id                                               text  label
0   650                 HOSUR also mini North India bro ,,      0
1  2397  ┬а@rajaa9979┬а ро╡рогро┐роХро░рпН роЪроЩрпНроХроЩрпНроХро│ро┐ройрпН родро▓рпИроорпИ родрооро┐ро┤ро░ро┐роЯрод...      0
2  1174             Already Telangana becomes Hindi belt ЁЯе║      0
3  5851  ро╡роЯ рооро╛роиро┐ро▓родрпНродрпКро┤ро┐ро│ро╛ро░рпН родрооро┐ро┤рпНроиро╛роЯрпНроЯро┐ройро░ро░рпИ родро╛роХрпНроХро┐ройро╛ро▓рпН ...      0
4  4180  родрооро┐ро┤ройрпН  ро╡роЯ роЗроирпНродро┐ропро╛ро╡ро┐ро▓рпБроорпН  роХрпЗро░ро│ро╛  роЖроирпНродро┐ро░ро╛  роХро░рпНрои...      0

In [5]:
test = pd.read_csv(data_dir_1+'/test.csv')
test.head()

     id                                               text
0  4594  Humanity paatha intha slag countries prblm var...
1  3593               Avanga Holi kondada oruku poranga da
2  2533    Avangala avanga ooruke anupura vazhiya parunga.
3  6975  рокрпИродрпНродро┐ропрооро╛роЯро╛ роирпА.. роиро╛ройрпН роЪрпЛро┤ро┐роп ро╡рпЗро│ро╛ро│ро░рпН. роиро╛ройрпН роОройрпН ...
4  6011  Caste is there  parayan think to marry higheru...

In [6]:
def preprocess(text):

    text = text.replace('\n', ' ')
    text = emoji.demojize(text, delimiters=(" :", ": "))
    text = re.sub(r'http[s]?://[a-zA-Z0-9./_-]+|www\.[a-zA-Z0-9./_-]+', '', text)
    text = re.sub(r'\s+', ' ', text).strip()
    text = text.lower().strip()

    return text

In [7]:
for i in range(len(train['text'])):
    train.loc[i, 'text'] = preprocess(train.loc[i, 'text'])

for i in range(len(dev['text'])):
    dev.loc[i, 'text'] = preprocess(dev.loc[i, 'text'])

for i in range(len(test['text'])):
    test.loc[i, 'text'] = preprocess(test.loc[i, 'text'])

In [8]:
test.head()

     id                                               text
0  4594  humanity paatha intha slag countries prblm var...
1  3593               avanga holi kondada oruku poranga da
2  2533    avangala avanga ooruke anupura vazhiya parunga.
3  6975  рокрпИродрпНродро┐ропрооро╛роЯро╛ роирпА.. роиро╛ройрпН роЪрпЛро┤ро┐роп ро╡рпЗро│ро╛ро│ро░рпН. роиро╛ройрпН роОройрпН ...
4  6011  caste is there parayan think to marry higherup...

In [9]:
train.to_csv(data_dir_2+'/train_processed.csv', index=False)
dev.to_csv(data_dir_2+'/dev_processed.csv', index=False)
test.to_csv(data_dir_2+'/test_processed.csv', index=False)